:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(32, 32, 32, 0.87);
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  display: flex;
  align-items: middle;
  width: fit-content;
  min-height: 100vh;
  background-color: #d0ffff;
}

h1 {
  font-size: 3.2em;
  margin: 0.4em;
}

h2 {
  font-size: 1.6em;
  margin: 0.4em;
}

hr {
  border: 0.08em solid #808080;
}

p {
  margin: 0;
}

button {
  padding: 0 0.5em;
  margin: 0.32em;
  border: 0.1em solid rgba(0, 0, 0, 0);
  border-radius: 0.5em;
  background-color: #f0f0f0;
  transition-property: border-color, background-color;
  transition-duration: 0.5s, 0.5s;
}

button:hover {
  border-color: #163248;
  background-color: #ffffff;
}

.divide {
  padding: 0;
  margin: 0.16em;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  user-select: none;
}

#top {
  background-color: #c5c5c5;
  display: flex;
  margin: 0 auto;
  height: 2em;
  width: 80em;
}

#tab {
  background-color: #beebff;
  height: 8em;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

#nav {
  display: flex;
  background-color: #f0f0f0;
  height: 2.4em;
  place-items: center;
  margin: 0 auto;
}

#nav li {
  float: left;
  display: inline;
  background-color: #c6dae2;
  padding-left: 1em;
  padding-right: 1em;
  border: 0.1em solid rgba(0, 0, 0, 0);
  border-radius: 1em;
  margin: 0 0.4em;
  text-align: center;
  transition-property: border-color, background-color;
  transition-duration: 0.5s, 0.5s;
}

#nav li:hover {
  border-color: #163248;
  background-color: #ffffff;
}

#nav li a {
  font-size: 1.2em;
  color: #202020;
  text-decoration: none;
}

/*以下为内容样式*/

#content {
  margin: 0;
}

.block {
  background-color: white;
  display: block;
  margin: 1em;
  border: 0.1em solid #a0a0a0;
  border-radius: 1.2em;
  padding: 0.8em;
  transition-property: border-color, margin, background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;
}

.block:hover {
  background-color: #fdffdc;
  border-color: #163248;
  margin: 0.8em 1.2em 1.2em 0.8em;
}

.head {
  display: inline-flex;
  place-items: center;
}

.tab {
  background-color: #ffe0c0;
  display: inline-block;
  border-radius: 0.4em;
  padding: 0.2em 0.5em;
  user-select: none;
}

.more {
  color: black;
  text-decoration: none;
  float: right;
  margin-left: 1.2em;
  padding: 0 0.5em;
  font-size: 0.8em;
  border: 0.1em solid rgba(0, 0, 0, 0);
  border-radius: 1em;
  transition-property: border-color;
  transition-duration: 0.5s;
}

.more:hover {
  border-color: #163248;
}

.list {
  background-color: #f8f8f8;
  border: 0.05em solid #163248;
  border-radius: 1em;
  padding: 0 0.6em 0;
}

.list li {
  list-style: none;
  margin: 0.5em 0;
  border-radius: 2em;
  padding: 0.5em;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.list li:hover {
  background-color: #e8e8ff;
}

.list li a {
  color: #202020;
  text-decoration: none;
}